body {
    background-color: rgba(98,183,192,0.2);
}
p {
    margin-left: 390px;
    display: block;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
    background-color: rgba(110,191,193,0.5);
    margin:20px;
    border-radius: 3px;
    margin-left: 200px;
    margin-right: 270px;
}
.block {
    position: relative;
    margin: auto;
    width: 800px;
    height: 500px;
    margin-top: 30px;
}

.image {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 210px;
    margin: 10px;
    background-color: #000;

}

hr {
    width: 1100px;
    border: 2px solid #000;
    margin-left: 200px;
}

.image:hover{
    background-color: rgba(110,191,193,0.5);
    transition: all 500ms ease;
    padding: 10px;
    border-radius: 5px;
}
.li {
    position: relative;
    bottom:30px;
    left:80px;
    color: #fff;
}

